<h1>Hello, Welcome to the Guess the Number Game!</h1> 
<h2>Please enter a number:</h2>

<!-- # <% if @guess_number> 70 %>
#  “Please, guess lower!”
# <% end %> 

# <% if @guess_number< 40 %>
#  “Please, guess higher!”
# <% end %> 

# <% if @guess_number == 64 %>
#  “Wow! Congratulations you've gussed the right number!”
# <% end %>  -->